<app-slide></app-slide>

<div *ngIf="loading; else popMoives">
  <app-loading></app-loading>
</div>

<ng-template #popMoives>
  <h1 style="margin-left: 20px;">Popular</h1>
  <div class="row flex-nowrap overflow-auto" style="margin-left: 20px;">
    <div
      class="col"
      *ngFor="let movie of popularMovies"
      [routerLink]="'/details/' + movie.id"
    >
    <div class="card text-bg-primary rem-img" style="width: 18rem;height: 24rem;">
      <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path"
      alt=""
      height="220" style="object-fit: cover;"
      />
      <div class="card-body">
        <h5 class="card-title" style="margin-bottom: 10px;">{{ movie.title }}</h5>
        <!-- <p class="card-text">{{movie.overview}}</p> -->
        <p>Popularity - {{movie.popularity}} ⭐️</p>
        <a href="#" class="btn btn-danger">Watch</a>
      </div>
    </div>
    </div>
  </div>
</ng-template>

<h1 style="margin-left: 20px;">Now Playing Moives</h1>

<div class="row flex-nowrap overflow-auto" style="margin-left: 20px;">
  <div class="col" *ngFor="let movie of nowplayingMovies" [routerLink]="'/details/' + movie.id">
    <div class="card text-bg-primary rem-img" style="width: 18rem;height: 25rem;">
      <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path"
      alt=""
      height="220" style="object-fit: cover;"
      />
      <div class="card-body">
        <h5 class="card-title" style="margin-bottom: 10px;">{{ movie.title }}</h5>
        <!-- <p class="card-text">{{movie.overview}}</p> -->
        <p>Popularity - {{movie.popularity}} ⭐️</p>
        <a href="#" class="btn btn-danger">Watch</a>
      </div>
    </div>
  </div>
</div>

<br />

<h1 style="margin-left: 20px;">Upcoming Movies</h1>
<div class="row flex-nowrap overflow-auto" style="margin-left: 20px;">
  <div class="col" *ngFor="let movie of upcomingMovies">
    <div class="card text-bg-primary rem-img" style="width: 18rem;height: 24rem;">
      <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path"
      alt=""
      height="220" style="object-fit: cover;"
      />
      <div class="card-body">
        <h5 class="card-title" style="margin-bottom: 10px;">{{ movie.title }}</h5>
        <!-- <p class="card-text">{{movie.overview}}</p> -->
        <p>Popularity - {{movie.popularity}} ⭐️</p>
        <a href="#" class="btn btn-danger">Watch</a>
      </div>
    </div>
  </div>
</div>

<br />

<h1 style="margin-left: 20px;">Top Rated Movies</h1>

<div class="row flex-nowrap overflow-auto" style="margin-left: 20px;">
  <div class="col" *ngFor="let movie of topratedMovies">
    <div class="card text-bg-primary rem-img" style="width: 18rem;height: 25rem;">
      <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path"
      alt=""
      height="220" style="object-fit: cover;"
      />
      <div class="card-body">
        <h5 class="card-title" style="margin-bottom: 10px;">{{ movie.title }}</h5>
        <!-- <p class="card-text">{{movie.overview}}</p> -->
        <p>Popularity - {{movie.popularity}} ⭐️</p>
        <a href="#" class="btn btn-danger">Watch</a>
      </div>
    </div>
  </div>
</div>
